.container

  header
    h1(ng-if="!vm.edit") Manage Organisations
    h1(ng-if="!vm.new && vm.edit") Edit: {{ vm.selected.name }}
    h1(ng-if="vm.new && vm.edit") Create Organisation

  aside

    button.full(ng-click="vm.startNew()") Create Organisation

    .organisations(ng-if="vm.organisations.length > 0")
      hr
      h5 Organsations
      button.full.light(ng-repeat="organisation in vm.organisations" ng-click="vm.select(organisation)") {{ organisation.name }}


  article

    .frame 
      form(action='/api/v1/image', method='post', enctype='multipart/form-data')
        input(type='file', name='file', multiple='')
        input(type='submit', value='Upload')


    //- Preview
    .frame(ng-if="!vm.edit && vm.selected")
      p public: {{ vm.selected.public }}
      p secret: {{ vm.selected.private }}
      pre {{ vm.selected | json }}
      button(ng-click="vm.edit = true") Edit
      button.light(ng-click="vm.delete()") Delete

    //- Edit form
    form.frame(name="orgForm" ng-if="!vm.new && vm.edit" ng-submit="vm.update()")
      include organisation.form.jade
      button(ng-disabled="orgForm.$invalid") Update
      button.light(ng-click="vm.edit = false; vm.selected = false;") Cancel

    //- Create form
    form.frame(name="newOrgForm" ng-if="vm.new && vm.edit" ng-submit="vm.create()")
      include organisation.form.jade
      button(ng-disabled="newOrgForm.$invalid") Create
      button.light(ng-click="vm.edit = false; vm.new = false; vm.selected = false;") Cancel

